# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
 
# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.sit
*.sitx

# Xcode noise
build
*.pbxuser
*.mode1v3
*.mode1
*.nib
*.xccheckout
#*.xcscheme schemes we need to track
xcuserdata
*.xcworkspacedata
*.xcscmblueprint
check-signature
enc_temp_folder
*.dylib
*.dSYM

# vc++ noise
# the resource compiler is absurdly noisy and requires delicacy to get around it
RC*
!RC*/
!RC*.*
RD*
!RD*/
!RD*.*
*.vcxproj.user
*.suo
# Some genius at Micro$loth put Batch Build values in the .suo file
#!Patterson Plug-Ins.suo
*.aps
*.sdf
*.opensdf
*.VC.db*
*.VC.opendb
*.ipch
*.iobj
.vs
*.dll
*.exp
*.pdb
*.lib
Release
Debug
x64
