//
//  Shared.xcconfig
//
//  Created by Robert Patterson on 09/08/2021.
//
//
#include "LuaVersion.xcconfig"

GCC_PREPROCESSOR_DEFINITIONS_All = LUA_USE_MACOSX LUA_FLOORN2I=F2Ifloor LUA_COMPAT_MATHLIB

// Lua 5.4 needs these warnings softened
GCC_WARN_UNINITIALIZED_AUTOS = NO
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = NO

DEAD_CODE_STRIPPING = YES

COPY_PHASE_STRIP_Debug = NO
COPY_PHASE_STRIP_Release = YES
COPY_PHASE_STRIP = $(COPY_PHASE_STRIP_$(CONFIGURATION))

// Lua 5.2.4 needs this warning removed as well
CLANG_WARN_COMMA = NO

ONLY_ACTIVE_ARCH_Debug = YES
ONLY_ACTIVE_ARCH_Release = NO
ONLY_ACTIVE_ARCH = $(ONLY_ACTIVE_ARCH_$(CONFIGURATION))

// Current minimum plugin target OS (not actually used by Lua, so just needs to be low enough to prevent warnings)
MACOSX_DEPLOYMENT_TARGET = 10.13

HEADER_SEARCH_PATHS = "$(PROJECT_DIR)/lua-$(LUA_VERSION)/src"
USER_HEADER_SEARCH_PATHS = "$(PROJECT_DIR)/lua-$(LUA_VERSION)/src"
